---
---
<footer class="page-footer">
  <section class="footer-contacts">
    <h2 class="visually-hidden">Контакты</h2>
    <img class="footer-contacts-logo" src="#" alt="Логотип Барбершоп «Бородинский»">
    <address class="footer-contacts-address">
      <p class="about-text">Санкт-Петербург, набережная реки Карповки, 5, литера П.</p>
      <a class="footer-contacts-address-phone" href="tel:+78005558628">+7 800 555-86-28</a>
    </address>
    <a class="footer-contacts-map-link" href="#">Как нас найти?</a>
  </section>

  <section class="newsletter">
    <h2 class="page-footer-title">Получайте лучшие предложения</h2>
    <form class="newsletter-form" action="https://echo.htmlacademy.ru/" method="post">
      <label for="newsletter-email">Email</label>
      <input class="field" placeholder="email@example.com" type="email" name="newsletter-email" id="newsletter-email" required>
      <button class="button newsletter-button" type="submit">
        <span class="visually-hidden">Отправить</span>
      </button>
    </form>
  </section>

  <section class="footer-social">
    <h2 class="page-footer-title">Давайте дружить</h2>
    <ul class="footer-social-list">
      <li class="footer-social-item">
        <a class="button" href="#">
          <span class="visually-hidden">Телеграм</span>
        </a>
      </li>
      <li class="footer-social-item">
        <a class="button" href="#">
          <span class="visually-hidden">ВКонтакте</span>
        </a>
      </li>
      <li class="footer-social-item">
        <a class="button" href="#">
          <span class="visually-hidden">Яндекс</span>
        </a>
      </li>
    </ul>
    <p class="about-text">Сделано в <a class="htmlacademy-link" href="https://htmlacademy.ru/">.html academy</a></p>
  </section>
</footer>
