---
---
<nav class="navigation">
  <slot name="logo" />
  <ul class="navigation-list">
    <li class="navigation-item">
      <a class="navigation-link" href="#">О нас</a>
    </li>
    <li class="navigation-item">
      <a class="navigation-link" href="/catalog">Каталог</a>
    </li>
    <li class="navigation-item">
      <a class="navigation-link" href="#">Частые вопросы</a>
    </li>
  </ul>
  <ul class="navigation-list navigation-users">
    <li class="navigation-item">
      <a class="navigation-link" href="#">
        <span class="visually-hidden">Поиск</span>
      </a>
    </li>
    <li class="navigation-item">
      <a class="navigation-link" href="#">
        <span class="visually-hidden">Корзина</span>
      </a>
    </li>
    <li class="navigation-item">
      <a class="navigation-link" href="#">Вход</a>
    </li>
  </ul>
</nav>
